.homepage-container {
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: 200px;
}

#homepage-beer-search-container {
  position: relative;
  margin-top: 70px;
}

.search-container {
  width: calc(100% - 30px);
  position: absolute;
}

.beer-container {
  width: calc(100% - 30px);
  position: absolute;
  top: 70px;
}

.img-container {
  width: calc(100% - 30px);
  position: absolute;
  top: 80px;
  display: flex;
  justify-content: center;
  z-index: -1;
}

@media (max-width: 600px) {
  .homepage-container {
    padding-top: 150px;
  }

  #homepage-beer-search-container {
    margin-top: 40px;
  }
}
