<div class="navbar-beer">
  <%= image_pack_tag 'media/images/remembeer_logo.svg', class: 'remembeer-logo' %>
  <%= link_to "Home", root_path, class: "navbar-button" %>
  <%= link_to "Favorites", favorites_path, class: "navbar-button" %>
</div>