<div class="navbar-beer">
  <%= image_pack_tag 'media/images/remembeer_logo.svg', class: 'remembeer-logo' %>
  <button class="navbar-button">Home</button>
  <button class="navbar-button">Favorites</button>
</div>